body{

   text-align: center;

   background-image: url("imagenes/imagen2.png.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

h2{
    text-align: center;
}

h1{
    text-decoration: underline;
}

